.grid {
  margin: 10px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  border: 1px #F1C40F solid;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }
}